body{
    height: 120vh;
}
.home-vinyl{
    position: absolute;
    width: 250px;
    top: 200px;
    left: 100px;
    transition: transform 0.5s ease;
    cursor: pointer;
    user-select: none;
}
.home-vinyl.rotate-full-circle{
    transform: rotate(360deg);
}
.home-vinyl.rotate-null-vinyl{
    transform: rotate(0deg);
}